<h1>Hello, rails!</h1>

<ul>
  <%% @message %%>
  <% @articles.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>">
      <%= article.title %>
      </a>
    </li>
  <% end %>
</ul>
